*{
    margin: 0;
    padding: 0;
    font-family: 'Koh Santepheap', cursive;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    width: 100px;
    cursor: pointer;
    margin-top: 20px;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign-btn{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
.content small{
    font-size: 55px;
}
.content h1{
    font-size: 100px;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 15px;
}



@media screen and (max-width: 600px){
    .content h1{
        font-size: 40px;
        line-height: 50px;
    }
    .content small{
        font-size: 18px;
    }
    .hero{
        background-image: url(small-background.png);
    }
    .footer{
        padding: 88% 0;
    }
}


/*----------------------------- choice page --------------------------------------*/
.choice{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #37d4ba;
    background: #3ddda8f8;
    transition: 1s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    .choice h1{
        font-size: 22px;
    }
    .row{
        flex-direction: column;
    }
    .hero-btn{
        margin: 20px 0 5 auto;
    }
}
/*-------------------------- sign in and register pages --------------------------*/

.container{
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic{
    height: 120px;
    width: 120px;
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}
#photo{
    height: 100%;
    width: 100%;
}
#file{
    display: none;
}
#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
    display: none;
}




.card{
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(8, 151, 132, 0.34), rgba(22, 160, 165, 0.34)), url(background.jpg);
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}
.card-front h2{
    margin-top: 50px;
}
#login{
    margin-top: 50px;
}
.card-back{
    transform: rotateY(180deg);
}
.card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.login{
    text-align: center;
    margin: 10px auto 10px auto;
}
.input-box{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 2.5px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}
.gender{
    width: 100%;
    height: 32px;
    text-align: center;
}
::placeholder{
    color: #fff;
    font-size: 12px;
}
#dept{
    width: 100%;
    background: #33dbbfee;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}
.btn, .btn1, .submit-btn{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.submit-btn{
    position: relative;
}
.submit-btn::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
}
.card .btn{
    margin-top: 90px;
}
.btn1{
    margin-top: 50px;
}